.grid-cell{
	border:0px solid gray;
	float:left;
	width:50px;
	height:50px;
}

.brick{
	background:url('../img/wall.png') no-repeat top left;
}
.lawn{
	background:url('../img/grass.png') no-repeat top left;
}

.fixfloat{
	clear: both;
	height:0px;
	width:100%;
}

#log{
    position: fixed;
    top: 0; right: 0;
	border:1px solid red;
	width:200px;
	height:300px;
	overflow: auto;
	color: black;
	opacity: 0.7;
	background-color: white;
	line-height: 70%;
	font-family: Courier;
	z-index: 999999;
}
